@import "tailwindcss";

@theme {
  /* Colores personalizados */
  --color-invitation-bg-cream: #FCF8F3;
  --color-invitation-text-brown: #735738;
  --color-invitation-gold-accent: #D9A06F;

  /* Fuentes dinámicas */
  --font-script: var(--font-monte-carlo);
  --font-serif: var(--font-cormorant);

  /* Proporciones de aspecto */
  --aspect-mobile: 9 / 16;
}

@layer base {
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-invitation-bg-cream);
    color: var(--color-invitation-text-brown);
    font-family: var(--font-cormorant);
  }
}